body{
    font-family: "Underdog", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #393e46;
    color: #4ecca3;
}

h1{
    font-family: "Underdog", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 10rem;
    display: flex;
    justify-content: center;
}

h3, button{
    display: flex;
    justify-content: center;
}