body{
    font-family: "Underdog", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #393e46;
    color: #4ecca3;
}

h1{
    font-family: "Underdog", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

h3{
    display: flex;
    justify-content: center;
}

button{
    background-color: #00adb5;
    color: #393e46;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.play-again{
    display: flex;
    justify-content: center;
}

button:hover{
    background-color:#4ecca3 ;
    color: #393e46;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
}

img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

@media(max-width: 600px){
    h1{
        font-size: 4rem;
    }
    button{
        font-size: 1.2rem;
    }
    img{
        width: 150px;
    }
}

@media (max-width: 1000px) and (min-width: 600px) {
    img{
        width: 200px;
    }
}